Centinel[1].ThinClient.Net/xsd/cmpi_paypal_transaction_search_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="http://localhost:8080/schema/Centinel/1_7/txn_common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>This message allows Merchants to search all PayPal activity according to specific constraints.
    This will report on ALL PayPal activity, not just activity through Cardinal Centinel.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CardinalMPI">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Version" type="applicationVersion"/>
				<xsd:element name="MsgType">
					<xsd:annotation>
						<xsd:documentation>"cmpi_paypal_transaction_search"</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="cmpi_paypal_transaction_search"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ProcessorId" type="processorId"/>
				<xsd:element name="MerchantId" type="merchantId"/>
				<xsd:element name="TransactionPwd" type="merchantTxnPwd"/>
				<xsd:element name="FromDt" type="generalDate"/>
				<xsd:element name="ToDt" type="generalDate"/>
				<xsd:element name="ReportFormat" type="txnReportFormat"/>
				<xsd:element name="TransactionId" type="txnId" minOccurs="0"/>
				<xsd:element name="Payer" type="paypalPayer" minOccurs="0"/>
				<xsd:element name="OrderNumber" type="paypalOrderNumber" minOccurs="0"/>
				<xsd:element name="Amount" type="amount" minOccurs="0"/>
				<xsd:element name="CurrencyCode" type="isoCurrencyNumber" minOccurs="0"/>
				<xsd:element name="PayPalTransactionType" type="paypalAPITxnType" minOccurs="0"/>
				<xsd:element name="TransactionStatus" type="paypalAPITxnStatus" minOccurs="0"/>
				
				</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
