Centinel[1].ThinClient.Net/xsd/cmpi_paypal_preapproved_payment_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="http://localhost:8080/schema/Centinel/1_7/txn_common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		<![CDATA[This message allows Merchants to initiate a payment on a PreApproved Payment Agreement.
    		<br/><br/>
		PayPal activity may result in a pending transaction status. If this occurs, at some point in the future the transaction status
		will be updated, and the merchant will be notified thru the Centinel Notification Post. This post notifies the merchant of the
		event and triggers the merchant process the cmpi_paypal_status request to retrieve the updated transaction details. This
		notification approach is used for pending transactions that clear as well as charge back notification and agreement status changes.
		<br/><br/>
		]]>
    </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CardinalMPI">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="MsgType">
					<xsd:annotation>
						<xsd:documentation>"cmpi_paypal_preapproved_payment"</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="cmpi_paypal_preapproved_payment"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Version" type="applicationVersion"/>
				<xsd:element name="ProcessorId" type="processorId"/>
				<xsd:element name="MerchantId" type="merchantId"/>
				<xsd:element name="TransactionPwd" type="merchantTxnPwd"/>
				<xsd:element name="TransactionId" type="txnId"/>
				<xsd:element name="OrderNumber" type="orderNumber" minOccurs="0"/>
				<xsd:element name="Amount" type="paypalMIPAmount"/>
				<xsd:element name="CurrencyCode" type="isoCurrencyNumber"/>
				<xsd:element name="Description" type="orderDesc" minOccurs="0"/>
				<xsd:element name="NotificationLocation" type="paypalNotificationLocation" minOccurs="0"/>
				</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
