Centinel[1].ThinClient.Net/xsd/cmpi_paypal_cancel_preapproved_agreement_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="http://localhost:8080/schema/Centinel/1_7/txn_common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>This message allows Merchants to cancel a PayPal PreApproved Payment agreement established between the Consumer and the Merchant. Once the agreement
		is cancelled, no further payments can be made for that particular agreement.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CardinalMPI">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Version" type="applicationVersion"/>
				<xsd:element name="MsgType">
					<xsd:annotation>
						<xsd:documentation>"cmpi_paypal_cancel_preapproved_agreement"</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="cmpi_paypal_cancel_preapproved_agreement"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ProcessorId" type="processorId"/>
				<xsd:element name="MerchantId" type="merchantId"/>
				<xsd:element name="TransactionPwd" type="merchantTxnPwd"/>
				<xsd:element name="TransactionId" type="txnId"/>
				<xsd:element name="Description" type="paypalCancelDesc" minOccurs="0"/>
				</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
