Centinel[1].ThinClient.Net/xsd/txn_common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- Element Definitions -->
	<xsd:element name="ErrorNo" id="ErrorNo">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Application error number. A non-zero value represents the error encountered while attempting the process the message request.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
    
	<xsd:element name="ErrorDesc" id="ErrorDesc">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Application error description for the associated error number.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalACSUrl">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The URL returned on the cmpi_lookup message for PayPal payments. Eg. https://centineltest.cardinalcommerce.com/maps/pp_redirect.asp ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="2083"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalAgreementId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The Merchant-Initiated Payment Agreement identifier generated by PayPal during the acceptance of the agreement.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalAgreementStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The status of the PayPal Merchant-Initiated Payment Agreement returned from PayPal.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalAPIUrl">
		<xsd:annotation>
			<xsd:documentation><![CDATA[URL of the location to send PayPal API communications to. Eg. https://api.sandbox.paypal.com/2.0/]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalAuthToken">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The merchant's Authentication Token that is used to verify payments with PayPal. Token should be 60 characters and available on the merchant account at PayPal.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minlength value="1"/>
				<xsd:maxlength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalCancelUrl">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The URL that PayPal will to if the payment is canceled. Eg. https://centineltest.cardinalcommerce.com/maps/pp_cancel.asp]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The name of the PayPal account the merchant will be accepting payments with.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalIPNUrl">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The URL that PayPal will send IPN (Instant Payment Notifications) to. Eg. https://centineltest.cardinalcommerce.com/maps/pp_ipn.asp]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalParentTxnId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The transaction identifier generated by PayPal of the original payment included on subsequent updates.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalPDTUrl">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The URL that PayPal will to after payment completion. Eg. https://centineltest.cardinalcommerce.com/maps/pp_pdt.asp]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalRedirectUrl">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The PayPal URL that Centinel will redirect to for payment completion. Eg. https://www.paypal.com/us/cgi-bin/webscr]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The status of the PayPal payment returned from PayPal.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalStatusReason">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The reason code for the status of the PayPal payment returned from PayPal.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalToken">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The transaction identifying token generated by PayPal for each unique payment or update.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PayPalTxnId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The transaction identifier generated by PayPal for each unique payment or update.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>

	<!-- Simple Type Definitions -->
    <xsd:simpleType name="acsUrl">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Contains the fully qualified URL of the Issuer ACS. This is used by the merchant to redirect the cardholder. Returned if Enrolled = Y.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="2083"/>
	</xsd:restriction>
    </xsd:simpleType>

     <xsd:simpleType name="altEmail">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Alternate Email address. Alpha-Numeric, Limit 255 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[^@]+@[^.]+\..+"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="amount">
        <xsd:annotation>
        <xsd:documentation><![CDATA[<p>Value represents the transaction amount without any decimalization or punctuation. <br/><br/>Examples $123.67 - 12367, $1,500.00 - 150000).</p>]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:int"/>
    </xsd:simpleType>

    <xsd:simpleType name="addressBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's billing address. Limit 50 characters]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="addressShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's shipping address. Limit 50 characters]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="addressStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[PayPal Consumer Address Status<br/><br/><b>PayPalPayments</b><br/><b>Confirmed</b> - Customer provided a confirmed address.<br/><b>Unconfirmed</b> - Customer provided an unconfirmed address.<br/><br/><b>PayPal Express Checkout Payments</b><br/><b>None</b> - No Status<br/><b>Confirmed</b> - Customer provided a confirmed address.<br/><b>Unconfirmed</b> - Customer provided an unconfirmed address.<br/><br/><b>Applies only to PayPal Transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Confirmed"/>
			<xsd:enumeration value="Unconfirmed"/>
			<xsd:enumeration value="None"/>
		</xsd:restriction>
	</xsd:simpleType>	
	
	<xsd:simpleType name="agreementTxnId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The Centinel generated Transaction Id from the cmpi_lookup response of the Merchant-Initiated Payment Agreement transaction.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="28"/>
		</xsd:restriction>
	</xsd:simpleType>
    
	<xsd:simpleType name="applicationVersion">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Application message version identifier. "1.7"]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1.7"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="authorizationCode">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Authorization Code generated by the Payment Network. Typically required to be formatted on the Settlement transaction.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		    <xsd:minLength value="0"/>
		    <xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="avsResult">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates the result of Address Verification System (AVS) checks using the transaction information.
<br/><b>A</b> - Matched - Address Only (No Postal Code)
<br/><b>E</b> - Error
<br/><b>N</b> - None Matched
<br/><b>P</b> - Not Applicable
<br/><b>R</b> - Retry, system unavailable or timed out
<br/><b>S</b> - Service Not Supported
<br/><b>U</b> - Unavailable
<br/><b>W</b> - Matched - Nine-Digit Postal Code (No Address)
<br/><b>X</b> - Matched - Nine-Digit Postal Code and Address
<br/><b>Y</b> - Matched - Five-Digit Postal Code and Address
<br/><b>Z</b> - Matched - Five-Digit Postal Code (No Address)
<br/><b>IA</b> - International - Matched - Address Only (No Postal Code)
<br/><b>IN</b> - International - None Matched
<br/><b>IU</b> - International - Unavailable
<br/><b>IX</b> - International - Matched - Postal Code and Address
<br/><b>IZ</b> - International - Matched - Postal Code (No Address)

]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="U"/>
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="X"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="Z"/>
			<xsd:enumeration value="IA"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="IU"/>
			<xsd:enumeration value="IX"/>
			<xsd:enumeration value="IZ"/>
		</xsd:restriction>
	</xsd:simpleType>
    
    <xsd:simpleType name="bmlAccountNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The Consumer's Account number with the Bill Me Later (BML) platform. This Account Number is used by the merchants on subsequent BML transactions. Note that the Consumer should NOT be provided this account number as it can change over time.<br/><b>Only Applies to BML Transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="19"/>
		</xsd:restriction>
	</xsd:simpleType>    
   
	<xsd:simpleType name="bmlTxnStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Bill Me Later Transaction Status<br/>
			<br/> - In-Process
			<br/> - Completed
			<br/> - Redirected
			<br/> - Returning
			<br/> - Declined
			<br/> - Pending
			<br/> - Canceled
			<br/> - Data Issue
			<br/> - Unavailable
			<br/> - Error
			<br/> - Expired
			<br/> - Processing
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="In-Process"/>
			<xsd:enumeration value="Completed"/>
			<xsd:enumeration value="Redirected"/>
			<xsd:enumeration value="Returning"/>
			<xsd:enumeration value="Declined"/>
			<xsd:enumeration value="Pending"/>
			<xsd:enumeration value="Canceled"/>
			<xsd:enumeration value="Data Issue"/>
			<xsd:enumeration value="Unavailable"/>
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Expired"/>
			<xsd:enumeration value="Processing"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="browserHeader">
        <xsd:annotation>
        <xsd:documentation><![CDATA[The exact content of the HTTP accept header. Limit 256 characters]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="256"/>
	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="captureType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Capture type identifier. Full capture indicates that the order will be completely settled by the specified amount. Identifies this transaction as the last capture against the order. Partial capture indicates that this transaction and additional capture transactions will be executed against the order. Partial capture enables split-shipment orders.
			
<b>Full</b> - Full Capture
<b>Partial</b> - Partial Capture

]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Full"/>
			<xsd:enumeration value="Partial"/>
		</xsd:restriction>
	</xsd:simpleType>

     <xsd:simpleType name="cardCode">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ 3 or 4 digit code that is printed (not imprinted) on the credit card. Limit 4 characters. ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="4"/>
	</xsd:restriction>
	</xsd:simpleType>


 
<xsd:simpleType name="cardCodeResult">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Indicates the result of Card Code (CVV2,CVC2,CID) verification using the transaction information.
<br/><b>E</b> - Error
<br/><b>N</b> - No Match
<br/><b>P</b> - Not Applicable
<br/><b>R</b> - Retry, system unavailable or timed out
<br/><b>S</b> - Service Not Supported
<br/><b>U</b> - Unavailable
<br/><b>Y</b> - Matched

]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="U"/>
			<xsd:enumeration value="Y"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="cardExpMonth">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Card Number Expiration Month, formatted MM. <b>Required on Credit Card transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="cardExpYear">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Card Number Expiration Year, formatted YYYY. <b>Required on Credit Card transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>	    


	<xsd:simpleType name="cardNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Card Number. Value should not contain any spaces or non-numeric characteres. Numeric, Limited to 19 digits.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="cityBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's city of the billing address. Limit 50 characters]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="cityShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Cardholder's city of the billing address. Limit 50 characters]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>	
	
    <xsd:simpleType name="consumerStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[PayPal Consumer Status<br/><br/><b>PayPalPayments</b><br/><b>Verified</b> - Customer has a Verified PayPal account.<br/><b>Unverified</b> - Customer has an Unverified PayPal Account.<br/><br/><b>PayPal Express Checkout Payments</b><br/><b>Verified</b> - Customer has a Verified PayPal account.<br/><b>Unverified</b> - Customer has an Unverified PayPal Account.<br/><br/><b>Applies only to PayPal Transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Verified"/>
			<xsd:enumeration value="Unverified"/>
		</xsd:restriction>
	</xsd:simpleType>	

    <xsd:simpleType name="countryCodeBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's country code of the billing address. Alpha ISO 3166, for example US - United States, ZA - South Africa. Complete list of ISO 3166 values is included in the Appendix. Limit 2 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="countryCodeShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Cardholder's country code of the billing address. Alpha ISO 3166, for example US - United States, ZA - South Africa. Complete list of ISO 3166 values is included in the Appendix. Limit 2 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>	

    <xsd:simpleType name="customerFlag">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Identifies if the customer is New or Existing. An existing customer is a customer in good standing who has made at least one purchase within the last 30 days and the last two years.<br/><b>Only Applies to BML Transactions</b><br/><br/><b>E</b> - Existing<br/><b>N</b> - New]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>	

	<xsd:simpleType name="customerRegistrationDate">
		<xsd:annotation>
		<xsd:documentation><![CDATA[The date the consumer first registered with the merchant. 
		Format YYYYMMDD. If the consumer is not registered, pass a value of "00000000"<br/><b>Only Applies to BML Transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		    <xsd:pattern value="[0-9]{8}"/>
		</xsd:restriction>
	    </xsd:simpleType>
    
	<xsd:simpleType name="dateOfBirth">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's date of birth.<br/><b>Only Applies to BML Transactions</b><br/><br/>Format: YYYYMMDD]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		    <xsd:pattern value="[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="email">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Email address. Alpha-Numeric, Limit 255 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[^@]+@[^.]+\..+"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="enrolled">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Status of availability.<br/>
<br/><b>Payer Authentication</b>
<br/><b>Y</b> - Cardholder Enrolled
<br/><b>N</b> - Not Enrolled
<br/><b>U</b> - Authentication Unavailable
<br/><br/><b>Bill Me Later</b>
<br/><b>Y</b> - Bill Me Later processing is available
<br/><b>U</b> - bill Me Later processing is not available
<br/><br/><b>PayPal</b>
<br/><b>Y</b> - PayPal payments are available
<br/><b>U</b> - PayPal payments are not available
<br/><br/><b>SECURE-eBill</b>
<br/><b>Y</b> - SECURE-eBill payments are available
<br/><b>U</b> - SECURE-eBill payments are not available
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="U"/>
        </xsd:restriction>
    </xsd:simpleType>

    
    <xsd:simpleType name="forceAddress">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Indicates that you require the consumer's shipping address on file with PayPal to be a confirmed Address.
<br/><b>Only applies to PayPal Express Checkout transactions.</b>
<br/><br/><b>PayPal Express Checkout</b>
<br/><b>Y</b> - Require a Confirmed Address
<br/><b>N</b> - Not Require a Confirmed Address
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="generalDate">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Date formatted as mm/dd/yyyy 00:00:00 in the GMT time zone. If no time portion is specified, 00:00:00 will be used.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="19"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="hasCheckingAccount">
	<xsd:annotation>
		<xsd:documentation><![CDATA[Identify if the consumer has a bank checking account.<br/><b>Only Applies to BML Transactions</b><br/><br/><b>Y</b> - Yes, the consumer has a bank checking account<br/><b>N</b> - No, the consumer does not have a bank checking account]]></xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="hasSavingsAccount">
	<xsd:annotation>
		<xsd:documentation><![CDATA[Identify if the consumer has a bank savings account.<br/><b>Only Applies to BML Transactions</b><br/><br/><b>Y</b> - Yes, the consumer has a bank savings account<br/><b>N</b> - No, the consumer does not have a bank savings account]]></xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="householdIncome">
	<xsd:annotation>
		<xsd:documentation><![CDATA[Consumer's gross household annual income.  Format without any decimilization.<br/><b>Only Applies to BML Transactions</b>]]></xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:int">
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="householdIncomeCurrencyCode">
	<xsd:annotation>
		<xsd:documentation><![CDATA[Currency code of Consumer's gross household annual income.<br/><b>Only Applies to BML Transactions</b><br/><br/><b>840</b> - US Dollar]]></xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:int">
            <xsd:enumeration value="840"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="installment">
        <xsd:annotation>
        <xsd:documentation><![CDATA[An integer value greater than 1 indicating the maximum number of permitted 
        authorizations for installment payments. Must be included if the 
        merchant and cardholder have agreed to installment payments.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minExclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ipAddress">
	<xsd:annotation>
		<xsd:documentation><![CDATA[Consumer's IP Address. Alpha-Numeric, Limit 15 characters, Format NNN.NNN.NNN.NNN]]></xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    
	<xsd:simpleType name="isoCurrencyNumber">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ISO 4217 currency code associated with the transaction amount. Complete list of ISO 4217 values is included in the Appendix. Numeric, Limit 3 digits.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="001"/>
            <xsd:maxInclusive value="999"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="itemCategoryCode">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The value that best describes the type of goods or services being purchased by the consumer.

<br/><br/><b>Bill Me Later</b>

<br/><b>1000</b> - Books
<br/><b>1010</b> - Electronics, Audio
<br/><b>1020</b> - Electronics, Video
<br/><b>1030</b> - Electronics, Computer
<br/><b>1040</b> - Electronics, Other
<br/><b>1050</b> - Magazine Subscriptions
<br/><b>1060</b> - Magazines
<br/><b>1070</b> - Camera & Photo
<br/><b>1080</b> - Health & Beauty
<br/><b>1090</b> - Housewares, Kitchen
<br/><b>1100</b> - Housewares, Furniture
<br/><b>1110</b> - Housewares, Rugs & Carpet
<br/><b>1120</b> - Housewares, Appliances
<br/><b>1130</b> - Housewares, Bed & Bath
<br/><b>1140</b> - Tickets
<br/><b>1150</b> - Delivered Gifts, Flowers
<br/><b>1160</b> - Gift Certificates
<br/><b>1170</b> - Software, Computer Games
<br/><b>1180</b> - Software, Programming
<br/><b>1190</b> - Software, Business & Professional
<br/><b>1200</b> - Software, Home/Personal
<br/><b>1210</b> - Toys & Games
<br/><b>1220</b> - Hobbies
<br/><b>1230</b> - Sporting Goods
<br/><b>1240</b> - Tools & Hardware
<br/><b>1250</b> - Outdoor Living
<br/><b>1260</b> - Automobiles, Parts
<br/><b>1270</b> - Automobiles, Service
<br/><b>1280</b> - Auction Goods
<br/><b>1290</b> - Travel, Air
<br/><b>1300</b> - Music
<br/><b>1400</b> - Travel, Ground
<br/><b>1410</b> - Travel, Lodging
<br/><b>1420</b> - Travel, Entertainment
<br/><b>1430</b> - Travel, Dining
<br/><b>1440</b> - Subscriptions, ISP
<br/><b>1450</b> - On-line Delivery - Books
<br/><b>1460</b> - On-line Delivery - Music
<br/><b>1470</b> - On-line Delivery - Software
<br/><b>1480</b> - On-line Delivery - Video
<br/><b>1490</b> - On-line Delivery - Photos
<br/><b>1500</b> - Groceries
<br/><b>1510</b> - Fuel
<br/><b>1520</b> - Clothing, Children's
<br/><b>1530</b> - Clothing, Men's
<br/><b>1540</b> - Clothing, Women's
<br/><b>1550</b> - Clothing, Teen's
<br/><b>1560</b> - Shoes
<br/><b>1570</b> - Recreational Clothing & Accessories
<br/><b>1580</b> - Recreational Supplies
<br/><b>1590</b> - Reserved
<br/><b>1600</b> - Reserved
	    ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1000"/>
            <xsd:maxInclusive value="1600"/>
        </xsd:restriction>
	</xsd:simpleType>
    

     <xsd:simpleType name="memo">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Brief description of transaction. Alpha-Numeric, Limit 125 characters.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="125"/>
        </xsd:restriction>
    </xsd:simpleType>




	<xsd:simpleType name="merchantId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Application merchant identifier. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
    
	<xsd:simpleType name="merchantTxnPwd">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Password to secure and verify the transaction originated from merchant represented by the transaction details. The password value is configured thru the merchant profile. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mipTxnId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The Centinel generated Transaction Id for the PayPal PreApproved payment transactions. Alpha-Numeric, Limit 28 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="28"/>
		</xsd:restriction>
	</xsd:simpleType>
    

    <xsd:simpleType name="noShipping">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Field controls how PayPal should handled the consumer's shipping address.
<br/><b>Only applies to PayPal Payments and PayPal Express Checkout transactions.</b>
<br/><br/><b>PayPal Payments</b>
<br/><b>Y</b> - Consumer will NOT be prompted for a shipping address.
<br/><b>N</b> - Consumer will be prompted to provide an optional shipping address.
<br/><b>R</b> - Consumer will be required to provide a shipping address.
<br/><br/><b>PayPal Express Checkout</b>
<br/><b>Y</b> - Require a confirmed address.
<br/><b>N</b> - Not require a confirmed address.
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="R"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="orderDesc">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Brief description of items represented by transaction details. Alpha-Numeric, Limit 125 characters.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="125"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="orderNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Order Number value identifies the transaction within the merchant commerce system. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
   </xsd:simpleType>
    

    <xsd:simpleType name="overrideAddress">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Instructs PayPal on how the Consumer's shipping address information should be displayed.
<br/><b>Only applies to PayPal Payments and PayPal Express Checkout transactions.</b>
<br/><br/><b>PayPal Payments</b>
<br/><b>Y</b> - Display the shipping address passed on the transaction, and override the address information stored on file with PayPal.
<br/><b>N</b> - Allow PayPal to display the address on file.
<br/><br/><b>PayPal Express Checkout</b>
<br/><b>Y</b> - Display the shipping address passed on the transaction.
<br/><b>N</b> - Allow PayPal to display the address on file.
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>


   <xsd:simpleType name="paResPayload">
        <xsd:annotation>
            <xsd:documentation><![CDATA[PARes generated by the issuer ACS.]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10000"/>
		</xsd:restriction>
	</xsd:simpleType>
    
    <xsd:simpleType name="password">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Used to facilitate Merchant Authentication File (MAF) authentication processing.]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

	<xsd:simpleType name="paypalAmount">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Transaction amount. Numeric, Limited to less than 10000.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="-10000"/>
			<xsd:maxInclusive value="10000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalAPITxnStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Paypal Transactions Status ( Completed, Pending,
      Denied, Reversed, Processing )]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Completed"/>
			<xsd:enumeration value="Pending"/>
			<xsd:enumeration value="Denied"/>
			<xsd:enumeration value="Reversed"/>
			<xsd:enumeration value="Processing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalAPITxnType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Paypal Transactions Type ( All, Sent, Received, MassPay,
      MoneyRequest, FundsAdded, FundsWithdrawn, PayPalDebitCard, PrimaryDebitCard,
      SecondaryDebitCard, Referral, Fee, Subscription, Dividend, Billpay, Refund,
      CurrencyConversions, BalanceTransfer, Reversal, Shipping, BalanceAffecting, ECheck )]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="All"/>
			<xsd:enumeration value="Sent"/>
			<xsd:enumeration value="Received"/>
			<xsd:enumeration value="MassPay"/>
			<xsd:enumeration value="MoneyRequest"/>
			<xsd:enumeration value="FundsAdded"/>
			<xsd:enumeration value="FundsWithdrawn"/>
			<xsd:enumeration value="PayPalDebitCard"/>
			<xsd:enumeration value="PrimaryDebitCard"/>
			<xsd:enumeration value="SecondaryDebitCard"/>
			<xsd:enumeration value="Referral"/>
			<xsd:enumeration value="Fee"/>
			<xsd:enumeration value="Subscription"/>
			<xsd:enumeration value="Dividend"/>
			<xsd:enumeration value="Billpay"/>
			<xsd:enumeration value="Refund"/>
			<xsd:enumeration value="CurrencyConversions"/>
			<xsd:enumeration value="BalanceTransfer"/>
			<xsd:enumeration value="Reversal"/>
			<xsd:enumeration value="Shipping"/>
			<xsd:enumeration value="BalanceAffecting"/>
			<xsd:enumeration value="ECheck"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalCancelDesc">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Allows the merchant to provide a brief description for the reason for the cancellation. Alpha-Numeric, Limit 255 characters.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="paypalCurrency">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The currency of the PayPal transaction. ( USD, EUR, GBP, CAD, or JPY )]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalInvoiceNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The Centinel created identifier used to track PayPal payments and updates in the PayPal system. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="paypalMD">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The merchant data to return with the customer when redirecting after PayPal payment has been completed or canceled.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalMIPAmount">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The transaction amount without any decimalization or punctuation. ($123.67 - 12367, $1,500.00 - 150000).]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int"/>
	</xsd:simpleType>
	<xsd:simpleType name="paypalNotificationLocation">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The URL that Centinel will send notifications to regarding this transaction. If specified, it will override the Merchant Configuration setting.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalOrderNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The order number from the cmpi_lookup request used as the item name being purchased in PayPal. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalPayer">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The buyer's email address of the PayPal transaction.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="paypalTermURL">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The URL to redirect the customer to when PayPal payment has been completed or canceled.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalTxnId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The PayPal Transaction Id. This value is only returned when configured within Centinel.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalTxnStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Paypal Transactions Status<br/>
			<br/>1 - In-Process
			<br/>2 - Canceled_Reversal
			<br/>3 - Completed
			<br/>4 - Denied
			<br/>5 - Failed
			<br/>6 - Pending
			<br/>7 - Refunded
			<br/>8 - Reversed
			<br/>9 - Canceled
			<br/>10 - Unable to Complete
			<br/>11 - Refund Initiated
			<br/>12 - Refund Unable to Complete
			<br/>13 - Refund Completed Successfully
			<br/>21 - Pending-address
			<br/>22 - Pending-echeck
			<br/>23 - Pending-intl
			<br/>24 - Pending-multi_currency
			<br/>25 - Pending-unilateral
			<br/>26 - Pending-upgrade
			<br/>27 - Pending-verify
			<br/>28 - Pending-other
			<br/>31 - Reversed-buyer_complaint
			<br/>32 - Reversed-chargeback
			<br/>33 - Reversed-guarantee
			<br/>34 - Reversed-other
			<br/>35 - Redirected
			<br/>36 - Returned
			<br/>40 - Express Checkout - Set Details
			<br/>41 - Express Checkout - Get Details
			<br/>42 - Authorized
			<br/>43 - Order
			<br/>44 - Sale
			<br/>45 - Captured
			<br/>46 - Void
			<br/>50 - Error
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="21"/>
			<xsd:enumeration value="22"/>
			<xsd:enumeration value="23"/>
			<xsd:enumeration value="24"/>
			<xsd:enumeration value="25"/>
			<xsd:enumeration value="26"/>
			<xsd:enumeration value="27"/>
			<xsd:enumeration value="28"/>
			<xsd:enumeration value="31"/>
			<xsd:enumeration value="32"/>
			<xsd:enumeration value="33"/>
			<xsd:enumeration value="34"/>
			<xsd:enumeration value="35"/>
			<xsd:enumeration value="36"/>
			<xsd:enumeration value="40"/>
			<xsd:enumeration value="41"/>
			<xsd:enumeration value="42"/>
			<xsd:enumeration value="43"/>
			<xsd:enumeration value="44"/>
			<xsd:enumeration value="45"/>
			<xsd:enumeration value="46"/>
			<xsd:enumeration value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paypalTxnType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The type of the PayPal transactions. <br/>1 - Payment<br/>2 - PreApproved Payment<br/>3 - PreApproved Payment Agreement<br/>4 - Express Checkout<br/>5 - Express Checkout ReAuthorization<br/>6 - Express Checkout Authorization<br/>7 - Express Checkout Sale<br/>8 - Express Checkout Order<br/>10 - Batch Settlement Credit<br/>11 - Batch Settlement Debit<br/>12 - Express Checkout Capture<br/>13 - Express Checkout Refund<br/>14 - Express Checkout Void<br/>15 - Direct Payment Authorization<br/>16 - Direct Payment Sale<br/>17 - Direct Payment Capture<br/>18 - Direct Payment Void<br/>19 - Direct Payment Refund<br/>20 - Direct Payment Re-Authorization<br/>25 - Payment Refund<br/>26 - PreApproved Payment Refund<br/>27 - PreApproved Agreement Cancelation ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="14"/>
			<xsd:enumeration value="15"/>
			<xsd:enumeration value="16"/>
			<xsd:enumeration value="17"/>
			<xsd:enumeration value="18"/>
			<xsd:enumeration value="19"/>
			<xsd:enumeration value="25"/>
			<xsd:enumeration value="26"/>
			<xsd:enumeration value="27"/>
		</xsd:restriction>
	</xsd:simpleType>
  
    <xsd:simpleType name="payload">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Contains the encoded PAReq generated by MAPS. Available if Enrolled = Y.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="7000"/>
		</xsd:restriction>
    </xsd:simpleType>
        
	<xsd:simpleType name="personEmail">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's email address. Alpha-Numeric, Limit 255 characters.
			
<b>Required for SECURE-eBill transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[^@]+@[^.]+\..+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personFirstNameBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's first name of the billing address. Alpha-Numeric, Limit 50 characters.
			
<b>Required for SECURE-eBill transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personFirstNameShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's first name of the shipping address. Alpha-Numeric, Limit 50 characters.
			
<b>Required for SECURE-eBill transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="personFullName">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Name of the person. Alpha-Numeric, Limit 50 characters]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personLastNameBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's last name of the billing address. Alpha-Numeric, Limit 50 characters.
			
<b>Required for SECURE-eBill transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personLastNameShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's last name of the shipping address. Alpha-Numeric, Limit 50 characters.
			
	<b>Required for SECURE-eBill transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personMiddleNameBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's middle name of the billing address. Alpha-Numeric, Limit 50 characters. <b>Used on BML transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personMiddleNameShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's middle name of the shipping address. Alpha-Numeric, Limit 50 characters. <b>Used on BML transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="phoneAltBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Alternate phone number for billing address. <b>Used on BML transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="phoneBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Phone number for billing address. <b>Used on BML transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="phoneAltShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Alternate phone number for shipping address. <b>Used on BML transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="phoneShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Phone number for shipping address. <b>Used on BML transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="postalCodeBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's postal code of the billing address. Alpha-Numeric, Limit 10 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="postalCodeShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's postal code of the shipping address. Alpha-Numeric, Limit 10 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>	

	<xsd:simpleType name="processorId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Application identifier. Alpha-Numeric, Limit 20 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="productCode">
		<xsd:annotation>
		<xsd:documentation><![CDATA[<p>The delivery classification of the order. If more than one classification applies, and physical goods are a part of the purchase, then "Physical Delivery" is used to describe the delivery classification.</p>
			<b>Bill Me Later</b>
			<br/><b>CNC</b> - Cash & Carry
			<br/><b>DCT</b> - Digital Content
			<br/><b>DIG</b> - Digital Good
			<br/><b>DNP</b> - Digital and Physical
			<br/><b>GFT</b> - Gift Certificate
			<br/><b>PHY</b> - Physical Delivery
			<br/><b>SCV</b> - Service
			<br/><b>TBD</b> - To Be Determined
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CNC"/>
			<xsd:enumeration value="DCT"/>
			<xsd:enumeration value="DIG"/>
			<xsd:enumeration value="DNP"/>
			<xsd:enumeration value="GFT"/>
			<xsd:enumeration value="PHY"/>
			<xsd:enumeration value="SCV"/>
			<xsd:enumeration value="TBD"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="promoCode">
		<xsd:annotation>
			<xsd:documentation><![CDATA[This value coresponds to the transaction configuration defined on the Merchant's profile. Merchantss may offer multiple Bill Me Later promotions or financing options to consumers. When the consumer chooses to take advantage of the promotion, the coresponding code must be passed to identify how the transaction should be processed. Alpha-Numeric, Limit 50 characters.<br/><b>Only Applies to BML Transactions</b>]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="purchaseAmount">
        <xsd:annotation>
        <xsd:documentation><![CDATA[<p><b>Authentication -</b> Formatted Total Sale amount for the transaction ($123.67).</p>
        <p><b>PayPal -</b> Formatted Total Sale amount for the transaction ($123.67).</p>
        <p><b>PayPal MP -</b> Formatted maximum total amount that can be charged to the buyer within a month-long period ($123.67).
        ]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="rawAmount">
        <xsd:annotation>
        <xsd:documentation><![CDATA[<p><b>Authentication -</b> Total sale amount without any decimalization or punctuation. ($123.67 - 12367, $1,500.00 - 150000).</p>
        <p><b>PayPal -</b> Total sale amount without any decimalization or punctuation. ($123.67 - 12367, $1,500.00 - 150000).</p>
        <p><b>PayPal MP -</b> Maximum total amount that can be charged to the buyer within a month-long period without any decimalization or punctuation. ($123.67 - 12367, $1,500.00 - 150000).
        ]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="reasonCode">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Reason Code(s) obtained from the processing network.  In the event of a transaction failure or error, the field will provide the exact reason codes from the processing network. Alpha-Numeric, Limit 100 characters. ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="100"/>
	</xsd:restriction>
	</xsd:simpleType>
	
     <xsd:simpleType name="reAuthorizationDescription">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Brief description of transaction. Alpha-Numeric, Limit 125 characters.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="125"/>
        </xsd:restriction>
    </xsd:simpleType>	

    <xsd:simpleType name="recurring">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Flag to specify if the Merchant and cardholder have agreed to recurring 
        payments. (Y, N)]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="Y|N"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="recurringEnd">
        <xsd:annotation>
        <xsd:documentation><![CDATA[The date after which no further recurring authorizations should be preformed. 
        Format YYYYMMDD. Required if recurring = Y.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{8}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="recurringFrequency">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Integer value indicating the minimum number of days between authorizations. 
        A frequency of monthly is indicated by the value 28. Required if recurring = Y.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
	<xsd:simpleType name="refundAmount">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Refund Amount without any decimalization or punctuation. ($123.67 - 12367, $1,500.00 - 150000). Required if RefundType is 'Partial'.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="refundCurrencyCode">
        <xsd:annotation>
            <xsd:documentation><![CDATA[3 digit numeric, ISO 4217 currency code for the sale amount. Complete list of ISO 4217 values is included in the Appendix. Required if RefundType is 'Partial'.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="001"/>
            <xsd:maxInclusive value="999"/>
        </xsd:restriction>
	</xsd:simpleType>
	
     <xsd:simpleType name="refundDescription">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Specify a brief description for the refund request. 
<br/><br/><b>SECURE-eBill</b><br/>Use the description field to pass the reason code of the refund request.
<br/><b>1</b> Consumer requested refund.
<br/><b>2</b> Merchant is unable to fulfill order.
<br/><b>3</b> Payment amount exceeds order amount.
<br/><b>4</b> Unknown payment received.
<br/><b>5</b> Other
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="125"/>
        </xsd:restriction>
    </xsd:simpleType>	
	
	<xsd:simpleType name="refundType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Refund type identifier. (Full or Partial) Full refunds will not require the RefundAmount or CurrencyCode to be specified. Partial refunds will require the RefundAmount and CurrencyCode to be specified.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Full"/>
			<xsd:enumeration value="Partial"/>
		</xsd:restriction>
	</xsd:simpleType>
	
   <xsd:simpleType name="sebTxnStatus">
        <xsd:annotation>
        <xsd:documentation><![CDATA[SECURE-eBill Transactions Status

Completed
Pending
Refunded
Redirected
Paid
Partial Paid
Error
Unexpected Payment
Unrecognized Payment

]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Completed"/>
            <xsd:enumeration value="Pending"/>
            <xsd:enumeration value="Refunded"/>
            <xsd:enumeration value="Paid"/>
            <xsd:enumeration value="Partial Paid"/>
            <xsd:enumeration value="Error"/>
        </xsd:restriction>
    </xsd:simpleType>	
    
    <xsd:simpleType name="residenceStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Identify the consumer's status of residence.<br/><b>Only Applies to BML Transactions</b><br/><br/><b>R</b> - Rents<br/><b>O</b> - Owns<br/><b>X</b> - Other]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
		    <xsd:enumeration value="R"/>
		    <xsd:enumeration value="O"/>
		    <xsd:enumeration value="X"/>
		</xsd:restriction>
	</xsd:simpleType>    

    <xsd:simpleType name="sebAccountNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The Consumer's Account number with the SECURE-eBill platform. This Account Number is used by the Consumer when making the Online Banking payment. ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>    
    
     <xsd:simpleType name="shippingAmount">
        <xsd:annotation>
        <xsd:documentation><![CDATA[<p>Value represents the Shipping and Handling amount without any decimalization or punctuation.<br/><b>Only Applies to BML Transactions</b><br/><br/>Examples $9.95 - 995, $15.00 - 1500).</p>]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:int"/>
    </xsd:simpleType>

     <xsd:simpleType name="ssn">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Consumer's social security number. Pass either the last 4 digits or the full 9 digits.<br/><b>Only Applies to BML Transactions</b>]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:int"/>
    </xsd:simpleType>

    <xsd:simpleType name="stateProvinceBilling">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Consumer's state or province of the billing address. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="stateProvinceShipping">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Cardholder's state or province of the shipping address. Alpha-Numeric, Limit 50 characters.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>	

    <xsd:simpleType name="statusCode">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Status Result of the Transaction.
<br/><b>Y</b> - Transaction Approved
<br/><b>N</b> - Transacton Declined
<br/><b>P</b> - Transacton Pending
<br/><b>E</b> - Transaction Resulted in Error
]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="E"/>
		</xsd:restriction>
	</xsd:simpleType>	

 	

    <xsd:simpleType name="spaHiddenFields">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Contains the SPA hidden form fields. This value is only available during MasterCard transactions.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="taxAmount">
        <xsd:annotation>
        <xsd:documentation><![CDATA[<p>Value represents the Tax amount without any decimalization or punctuation.<br/><b>Only Applies to BML Transactions</b><br/><br/>Examples $9.95 - 995, $15.00 - 1500).</p>]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:int"/>
    </xsd:simpleType>

    <xsd:simpleType name="termsAndConditions">
        <xsd:annotation>
        <xsd:documentation><![CDATA[<p>Terms and conditions identifier.<br/><b>Only Applies to BML Transactions</b><br/><br/><b>32103</b> - E-Commerce Transactions<br/><b>12013</b> - Call Center Transactions</p>]]></xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="32103"/>
			<xsd:enumeration value="12013"/>
		</xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="transactionType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Identifies the Transaction Type used for processing.
<br/><b>A</b> PayPal PreApproved Payments 
<br/><b>B</b> Bill Me Later
<br/><b>C</b> Credit Card / Debit Card Authentication 
<br/><b>E</b> SECURE-eBill 
<br/><b>P</b> PayPal 
<br/><b>X</b> PayPal Express Checkout
]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>


   <xsd:simpleType name="transactionAction">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Transaction action identifier. Identifies how the subsequent transactions will be processed.
<br/><b>Only applies to PayPal Express Checkout transactions.</b>
<br/><br/><b>PayPal Express Checkout</b>
<br/><b>Authorization</b> - Does not indicate a final sale, payment will be captured at a later time.
<br/><b>Sale</b> - Indicates a final sale transaction, and payment will be immediately requested.
<br/><b>Order</b> - Does not indicate a final sale, or authorizations. Allows for future authorization and capture processing.
<br/><br/>Default is Authorization
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Authorization"/>
            <xsd:enumeration value="Sale"/>
            <xsd:enumeration value="Order"/>
        </xsd:restriction>
    </xsd:simpleType>

  <xsd:simpleType name="transactionMode">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Transaction mode identifier. Identifies the channel the transaction originate from, either Mail Order/Telephone Order, Retail, or E-Commerce.</b>
<br/><b>Only Applies to BML Transactions</b>]]></xsd:documentation>
<br/><br/><b>M</b> - MOTO
<br/><b>R</b> - Retail
<br/><b>S</b> - E-Commerce (SSL)
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="M"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="S"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="txnAmount">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Transaction Amount without any decimals (Eg. 12345).]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
    <xsd:simpleType name="txnCavv">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Cardholder Authentification Verification Value (CAVV),
            Authentication Verification Value (AVV), or Universal Cardholder Authentication Field (UCAF).
            This value should be appended to the authorization message signifying
            that the transaction has been successfully authenticated. This value will be encoded according
            to the merchant's configuration in either Base64 encoding or Hex encoding. A Base64 encoding
            merchant configuration will produce values of 28 or 32 characters. A Hex encoding merchant
            configuration will produce values of 40 or 48 characters. The value when decoded will either
            be 20 bytes for CAVV/AAV or 24 bytes if it is a MasterCard UCAF. <br/><br/><b>Applies only to Payer Authentication transactions</b>]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="48"/>
        </xsd:restriction>
    </xsd:simpleType>
    
	<xsd:simpleType name="txnECI">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Electronic Commerce Indicator (ECI). (01,02,05,06,07)
      Based on the Transaction Status, the coresponding ECI value will be required to be appended
      to the authorization message. <p><b>MasterCard ECI (01,02)</b><br/> <b>01</b> - Indicates
      Merchant liability<br/><b>02</b> - Indicates Card Issuer Liability</p><p><b>Visa ECI
      (05,06,07)</b><br/><b>05</b> - Indicates Card Issuer Liability<br/><b>06</b> - Indicates Card Issuer
      Liability<br/><b>07</b> - Indicates Merchant Liability</p><p><b>JCB ECI
      (05,06,07)</b><br/><b>05</b> - Indicates Card Issuer Liability<br/><b>06</b> - Indicates Card Issuer
      Liability<br/><b>07</b> - Indicates Merchant Liability</p><b>Applies only to Payer Authentication transactions</b>]]></xsd:documentation>
		</xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
        </xsd:restriction>
	</xsd:simpleType>
    
	<xsd:simpleType name="txnId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Centinel generated transaction identifier.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="28"/>
		</xsd:restriction>
		
	</xsd:simpleType>

	<xsd:simpleType name="notificationId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Notification Id. This value is required to be passed on the cmpi_paypal_status message to identify the coresponding PayPal transaction. This value is provided thru the HTTP POST Notification sent to the Merchant.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
		
	</xsd:simpleType>
    
	<xsd:simpleType name="txnPAResStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Transaction status result identifier (Y, N, U, A, P, D, X, E).<br/><b>Y</b> Success Transaction<br/><b>N</b> Failed Transaction<br/><b>U</b> Unable to Complete Transaction<br/><b>A</b> Successful Attempts Transaction<br/><b>P</b> Pending Transaction<br/><b>D</b> Data Update Requested By Consumer<br/><b>X</b> Canceled Transaction<br/><b>E</b> Error Processing Transaction]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="U"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="X"/>
			<xsd:enumeration value="E"/>
		</xsd:restriction>
	</xsd:simpleType>
    
	<xsd:simpleType name="txnRefundDesc">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Allows the merchant to provide a brief description for the reason for the refund. Limit 255 characters]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="txnReport">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The report generated in the requested report format.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
    
	<xsd:simpleType name="txnReportFormat">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The format of the transaction report to be returned (CSV or XML)]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CSV"/>
			<xsd:enumeration value="XML"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="txnSEBAccountNumber">
		<xsd:annotation>
			<xsd:documentation><![CDATA[SECURE-eBill consumer account number. The account number assigned by the SECURE-eBill platform to represent the consumer for the merchant. This value should be provided to the consumer to reference with eBill payment. <br/><br/><b>Applies only to SECURE-eBill Transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="txnSEBReferenceId">
		<xsd:annotation>
			<xsd:documentation><![CDATA[SECURE-eBill order reference identifier. The order reference value assigned by the SECURE-eBill platform for the merchant. This value should be provided to the consumer to reference with eBill payment. <br/><br/><b>Applies only to SECURE-eBill Transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>		
    
	<xsd:simpleType name="txnSignatureStatus">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Transaction Signature status identifier (Y or N). Y indicates that the signature of the xml message has been validated successfully and the message contents can be trusted. N indicates that for a variety of reason, tampering, certificate expiration, etc. the message could not be validated, and the result should not be trusted.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
    
	<xsd:simpleType name="txnXid">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Transaction Xid from 3-D Secure Authentication. Gateway/Processor API specification may require this value to be appended to the authorization message. This value will be encoded according to the merchant's configuration in either Base64 encoding or Hex encoding. A Base64 encoding merchant configuration will produce values of 28 characters. A Hex encoding merchant configuration will produce values of 40 characters. <br/><br/><b>Applies only to Payer Authentication transactions</b> ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
    
    <xsd:simpleType name="userAgent">
        <xsd:annotation>
        <xsd:documentation><![CDATA[The exact content of the HTTP user-agent header. Limit 256 characters.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
		<xsd:minLength value="0"/>
		<xsd:maxLength value="256"/>
	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="yearsAtEmployer">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Number of years at current employer. Round up to the nearest year.<br/><b>Only Applies to BML Transactions</b><br/><br/>Five months = 1]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="yearsAtResidence">
        <xsd:annotation>
        <xsd:documentation><![CDATA[Number of years at current residence. Round up to the nearest year.<br/><b>Only Applies to BML Transactions</b><br/><br/>Five months = 1]]></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
	</xsd:restriction>
    </xsd:simpleType>

</xsd:schema>